.post {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .toolbar {
    display: flex;
    background-color: white;

    .blog-name {
      flex: 1 0 0;
    }

    @media screen and (orientation: landscape) {
      .menu-button-landscape {
        display: initial;
      }

      .menu-button-portrait {
        display: none;
      }
    }

    @media screen and (orientation: portrait) {
      .menu-button-landscape {
        display: none;
      }

      .menu-button-portrait {
        display: initial;
      }
    }
  }

  .main {
    display: flex;
    flex: 1 0 0;
    width: 100%;
    padding: 32px 60px 0;
    overflow-y: auto;

    .left-side {
      height: max-content;

      .outdated-alert {
        margin-bottom: 1em;
      }
    }

    .right-side {
      height: 100%;
    }

    @media screen and (orientation: landscape) {
      flex-direction: row;

      .left-side {
        flex: 1 1 auto;
        width: 0;
        padding-right: 60px;
        padding-bottom: 240px;
      }

      .right-side {
        position: sticky;
        top: 0;
        flex: 0 1 auto;
        width: 200px;
        height: 100%;
      }
    }

    @media screen and (orientation: portrait) {
      flex-direction: column;
      padding: 60px 32px 160px;

      .left-side {
        width: 100%;
        padding-bottom: 80px;
      }

      .right-side {
        display: none;
      }
    }
  }
}

.drawer-catalogue-container {
  display: flex;
  width: 300px;
  padding: 60px 16px 16px 32px;
}
