.simple-app-bar {
  &.white-bg {
    background-color: white;
  }

  .main-content {
    display: flex;
    flex: 1 0 0;
    align-items: center;

    .title {
      flex: 1 0 0;
    }
  }

  @media (orientation: landscape) {
    .extra-icon-portrait {
      display: none;
    }
  }
}
