.simple-app-bar {
  display: flex;

  &.white-bg {
    background-color: white;
  }

  .toolbar {
    display: flex;

    .title {
      flex: 0 0 auto;
    }

    .main-content {
      display: flex;
      flex: 1 1 auto;
      align-items: center;
      justify-content: center;
      width: 0;
    }

    .extra-icons {
      flex: 0 0 auto;
    }
  }

  @media (orientation: landscape) {
    .extra-icon-portrait {
      display: none;
    }
  }
}
