registry=https://registry.npmmirror.com
nodejieba_binary_host_mirror=https://npm.taobao.org/mirrors/nodejieba
# fix error:0308010C:digital envelope routines::unsupported, see
# https://github.com/webpack/webpack/issues/14532
# https://github.com/nodejs/node/issues/40455
node-options="--openssl-legacy-provider"