.booklet {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .main {
    display: flex;
    flex: 1 0 auto;
    padding-left: 100px;
    overflow-x: auto;

    .booklet-list {
      display: flex;
      align-items: center;

      .booklet-card-wrapper {
        display: flex;
        margin: 20px;
      }
    }
  }
}
