// 三角形半径，即三角形内接圆半径
$triangle-radius: var(--triangle-radius);

// 维度圆半径
$circle-radius: calc($triangle-radius * 1.5);

$beta-color: #d32f2f;
$gamma-color: #fbc02d;
$alpha-color: #388e3c;

$bg-opacity: 0.2;
$border-size: 4px;

.impossible-trinity {
  display: flex;
  width: 100%;
  height: 100%;

  @media (orientation: landscape) {
    --triangle-radius: 140px;
  }

  @media (orientation: portrait) {
    --triangle-radius: 18vw;
  }

  .board {
    position: relative;
    width: 100%;
    height: 100%;

    .dimension {
      position: absolute;
      width: calc(2 * $circle-radius);
      height: calc(2 * $circle-radius);
      border-radius: 100%;
      transform: translate(
        calc(-1 * $circle-radius),
        calc(-1 * $circle-radius)
      );

      &.alpha {
        top: calc(50% + $triangle-radius / 4 - $triangle-radius);
        left: 50%;
        background-color: rgba($alpha-color, $bg-opacity);
        border: solid $border-size $alpha-color;

        &:hover {
          z-index: 1;
        }
      }

      &.beta {
        top: calc(50% + $triangle-radius / 4 + $triangle-radius * 0.5);
        left: calc(50% - $triangle-radius * 0.5 * 1.732);
        background-color: rgba($beta-color, $bg-opacity);
        border: solid $border-size $beta-color;

        &:hover {
          z-index: 1;
        }
      }

      &.gamma {
        top: calc(50% + $triangle-radius / 4 + $triangle-radius * 0.5);
        left: calc(50% + $triangle-radius * 0.5 * 1.732);
        background-color: rgba($gamma-color, $bg-opacity);
        border: solid $border-size $gamma-color;

        &:hover {
          z-index: 1;
        }
      }
    }

    .alpha-area {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;
      height: 56%;
      margin: 0 auto;
      // border: solid 1px black;
    }

    .center {
      position: absolute;
      inset: calc($triangle-radius / 4 + $triangle-radius / 4) 0 0 0;
      z-index: 3;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 80px;
      margin: auto;
      // border: solid 1px black;
    }

    .beta-area {
      position: absolute;
      top: 20%;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70%;
      height: 70%;
      // border: solid 1px black;
    }

    .gamma-area {
      position: absolute;
      top: 20%;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70%;
      height: 70%;
      // border: solid 1px black;
    }

    .alpha-beta-area {
      position: absolute;
      inset: calc(var(--triangle-radius) * -0.4) 23% 0 0;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100px;
      margin: auto;
      // border: solid 1px black;
    }

    .gamma-alpha-area {
      position: absolute;
      inset: calc(var(--triangle-radius) * -0.4) 0% 0 23%;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100px;
      margin: auto;
      // border: solid 1px black;
    }

    .beta-gamma-area {
      position: absolute;
      inset: calc((100% - 2.5 * var(--triangle-radius)) / 2) 0 0 0;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100px;
      margin: auto;
      // border: solid 1px black;

      // 算不动了，大概居中了就好了
      @media (orientation: landscape) {
        top: calc((100% - 2.5 * var(--triangle-radius)) / 2 + 100px);
      }

      @media (orientation: portrait) {
        top: calc((100% - 2.5 * var(--triangle-radius)) / 2);
      }
    }
  }

  .quick-demo {
    display: flex;
    flex-direction: column;

    .demo-button,
    .input {
      margin: 0 16px;
      margin-top: 32px;
    }
  }
}
