.word-in-word {
  width: 100%;
  height: 100%;

  .canvas {
    width: 100%;
    height: 100%;
  }

  .operating-panel {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (orientation: portrait) {
      flex: 1 0 0;
    }

    .control-board {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .input-area {
        display: flex;
        flex-direction: column;

        .input {
          margin-top: 16px;
          margin-right: 24px;
        }
      }

      .gen-button {
        flex: 1 0 auto;
      }
    }

    .quick-demo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 32px;

      .demo-button {
        margin: 0 16px;
      }
    }
  }
}
