.changelog {
  display: flex;
  flex-direction: column;

  .main {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;

    @media (orientation: landscape) {
      align-items: flex-start;
      padding: 32px;
    }

    @media (orientation: portrait) {
      align-items: center;
    }
  }
}
