$icon-size: 88px;

.app-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px;

  .icon {
    width: $icon-size;
    height: $icon-size;
  }

  .title {
    margin-top: 4px;
  }
}
