@import '@/share/mixin.scss';

$entry-width: 118px;
$entry-height: 118px + 28px;
$entry-width-small: 88px;
$entry-height-small: 88px + 28px;

$entry-margin: 12px;

$icon-size: 88px;
$icon-size-small: 60px;

.app-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: $entry-width;
  height: $entry-height;
  margin: $entry-margin;
  user-select: none;

  @media (orientation: portrait) {
    width: $entry-width-small;
    height: $entry-height-small;
    margin: $entry-margin;
  }

  .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $icon-size;
    height: $icon-size;
    overflow: hidden;
    background-color: white;
    border-radius: 100%;

    @media (orientation: portrait) {
      width: $icon-size-small;
      height: $icon-size-small;
    }

    .button-base {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 50%;
    }
  }

  .title {
    @include line-clamp(2);

    margin-top: 8px;
    color: white;
  }
}
