.desktop-table {
  width: 100%;
  height: 100%;

  .swiper {
    width: 100%;
    height: 100%;

    .swiper-slide {
      // 避免和pagination重叠
      box-sizing: border-box;
      padding-bottom: 32px;
    }

    /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
    :global(.swiper-pagination-bullets) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .bullet {
      width: 8px;
      height: 8px;
      margin: 0 8px;
      background-color: #ddd;
      border-radius: 100%;
    }

    .bullet-active {
      width: 10px;
      height: 10px;
      background-color: white;
      border-radius: 100%;
    }
  }
}
