@import '@/styles/index.scss';

.status-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 28px;
  padding: 8px;
  font-size: 14px;
  color: white;
  user-select: none;
  transform: translate(0);

  .left-sentence {
    display: flex;
    align-items: center;

    .sentence {
      margin-left: 4px;
    }
  }
}
