.bullet-chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .bottom-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 16px;
  }
}
