.dpi {
  .expression {
    @media screen and (orientation: portrait) {
      display: flex;
      flex-direction: column;
      .input-filed {
        margin: 1em 0;
      }
    }

    .symbol {
      margin: 0 12px;
      font-size: 32px;
      @media screen and (orientation: portrait) {
        display: none;
      }
    }

    .execute {
      @media screen and (orientation: portrait) {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
