.dpi {
  .expression {
    @media (orientation: portrait) {
      display: flex;
      flex-direction: column;

      .input-filed {
        margin: 1em 0;
      }
    }

    .symbol {
      margin: 0 12px;
      font-size: 32px;

      @media (orientation: portrait) {
        display: none;
      }
    }

    .execute {
      @media (orientation: portrait) {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
