.hover-input {
  min-width: 48px;
  min-height: 16px;
  padding-bottom: 4px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid 1px transparent;

    &:hover {
      border-bottom: solid 1px #999;
    }

    &.is-edit {
      border-bottom: solid 1px transparent;
    }

    .display {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 4px;
      line-height: 1;
      text-align: center;
    }
  }
}
