@import './var.scss';

.pinyin-item {
  width: $square-size;
}

.pinyin-row {
  display: flex;
  align-items: center;
  justify-content: space-around;

  .pinyin {
    margin-left: $square-width;
  }
}
