.position-adjuster {
  display: flex;
  flex-direction: column;
  align-items: center;

  .adjuster {
    display: flex;
    flex-direction: column;
    align-items: center;

    .row {
      display: flex;
    }
  }
}
