$search-bar-height: 60px;
$app-icon-size: 20px;
$list-height: 260px;

.search-bar {
  position: relative;
  width: 500px;

  @media (orientation: portrait) {
    width: 80%;
  }

  .back {
    z-index: 1;
  }

  .bar {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: $search-bar-height;
    user-select: none;
    background-color: white;
  }

  .content {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px;

    .start-icon,
    .end-icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .input-area {
      flex: 1 0 0;
      height: 100%;
      padding: 0 10px;

      .input {
        width: 100%;
        height: 100%;
        font-size: 18px;
        text-align: center;
        border: none;
        outline: none;
      }
    }

    .icon-img {
      width: 40px;
      height: 40px;
    }
  }

  .search-result {
    position: absolute;
    top: $search-bar-height;
    width: 100%;
    height: $list-height;
    margin-top: 2px;
    overflow: auto;
    clip-path: circle(0% at 50% 20%);
    visibility: hidden;
    background-color: white;
    border-radius: 4px;
    transition: all ease-out 0.3s;

    &.expand {
      display: block;
      clip-path: circle(100% at 50% 20%);
      visibility: visible;
      transition: clip-path 0.3s ease-in-out;
    }

    .app-icon {
      width: $app-icon-size;
      height: $app-icon-size;
    }

    .empty-result {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
  }
}
