@import './DisplayCard.scss';

.display-card {
  display: flex;
  flex-direction: column;
  width: $display-card-width;
  margin: $display-card-margin;

  .media {
    height: 180px;
    margin: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &.fill {
    .media {
      margin: 0;
      background-size: cover;
    }
  }

  &.landscape {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 360px;

    .left {
      flex: 1 1 auto;
    }

    .media {
      flex: 0 0 auto;
      width: 80px;
      height: 80px;
    }
  }
}
